
header {
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Añade centrado horizontal a los elementos inline */
}

.logo-container {
    display: flex; /* Hacemos que el contenedor sea un flexbox */
    align-items: center; /* Centramos los elementos verticalmente */
}

.logo {
    width: 150px; /* Tamaño del logo */
    height: 150px;
    border-radius: 50%; /* Forma redonda */
    margin-right: 20px; /* Ajustamos el margen derecho */
}

.title-container {
    display: flex; /* Hacemos que el contenedor sea un flexbox */
    flex-direction: column; /* Apilamos los elementos verticalmente */
}

.title {
    font-size: 50px; /* Tamaño del título */
    margin-bottom: 5px; /* Margen inferior para separar el título del subtítulo */
}

.subtitle {
    font-size: 20px; /* Tamaño del subtítulo */
    margin-top: 0; /* Eliminar cualquier margen superior predeterminado */
}

nav {
    margin-left: 30px; /* Reducir el margen izquierdo */
}

nav ul.main-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea los elementos al inicio */
    margin-top: 10px; /* Ajusta el margen superior del contenedor de los botones */
    margin-left: 0;
}

nav ul.main-links li {
    margin-right: 10px; /* Ajusta el margen entre botones */
}

nav ul.main-links li:last-child {
    margin-right: 0; /* Quita el margen derecho del último botón */
}



/* Estilo para todos los enlaces */
nav ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 8px 12px;
    border-radius: 20px;
    color: black;
    background-color: transparent;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li a:hover {
    background-color: #9DD9D2;
    border-color: transparent;
}

.welcome-message {
    font-size: 26px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    color: #ffa500; /* Color del texto */
    margin-right: 10px; /* Margen derecho para separar del resto de los elementos */
    display: inline; /* Hacer que el elemento sea en línea */
}

.welcome-link {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Subrayado para indicar que es un enlace */
    cursor: pointer; /* Cambio de cursor al pasar el ratón sobre el enlace */
    display: inline; /* Hacer que el elemento sea en línea */
}


