/* login.css */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../images/_93bec00e-8ba7-4efb-9132-607d254c8874.jpg");
}

.container {
    width: 510px; /* Ancho del viewport */
    margin: 50px auto 100px; /* Centra el contenedor horizontalmente y deja un margen vertical de 50px arriba y 100px abajo */
    padding: 45px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 32px;
}

/* FORM */

.form-background {
    background: #fff;
    width: 420px;
    border-radius: 10px;
    padding: 32px;
    box-shadow: 0px 15px 88px -37px rgba(0, 0, 0, 0.17);
}

.yellow-text {
    font-size: 40px;
    color: #ffa500;
}

.black-text {
    font-size: 40px;
    color: black;
}


input[type="text"] {
    width: 100%;
    margin-bottom: 10px; /* Ajusta el tamaño del espacio según tus preferencias */
    border-radius: 30px;
    border: 1px solid #DAE2F1;
    padding: 15px 20px;
    color: #8498af;
    font-size: 0.9rem;
    transition: 0.4s;
}


form {
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

input {
    width: 100%;
    margin-bottom: 20px; /* Separación entre los campos */
    border-radius: 30px;
    border: 1px solid #DAE2F1;
    padding: 15px 20px;
    color: #8498af;
    font-size: 0.9rem;
    transition: 0.4s;
}

[type="submit2"] {
    background: #7F7F7F;
    border-radius: 30px;
    padding: 16px 30px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: 0.4s;
    font-family: 'Montserrat', sans-serif;
    border: none;
    box-shadow: none;
}

[type="submit2"]:hover {
    color: #ffa500;
}

/* LOGIN */

.login {
    text-align: center;
    margin-top: 24px;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}

.login a {
    font-size: 20px;
    margin-left: 4px;
    text-decoration: none;
    color: #7F7F7F;
    transition: 0.3s;
}

.login p {
    font-size: 20px;
    margin-left: 4px;
    text-decoration: none;
    color: #7F7F7F;
    transition: 0.3s;
}

.login a:hover {
    color: #ffa500;
}

input[type="password"] {
    padding-right: 30px; /* Espacio para el icono de un ojo */
}

.fa-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
